PyYAML==6.0.2
cloudpickle==3.1.2
joblib==1.6.0
llvmlite==0.49.0
narwhals==2.25.0
numba==0.67.0
numpy==2.5.2
pynndescent==0.6.0
scikit-learn==1.9.0
scipy==1.18.1
threadpoolctl==3.6.0
tqdm==4.70.0
umap-learn==0.5.12
